{% extends "lm_test/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="padding:5px;">Linguamatics Test</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <form method="get" action="results" class="form">
        <form action="{% url 'results' %}" method='get' class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit" id="searchbtn" class="btn btn-primary" style="margin-top:2%;">Search <i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        </form>
        <p style="padding:5px;">All fields on this form are compulsory to achieve a search results. An email is needed due to NCBI's updated guidelines</p>
        </div>
    </div>
</div>
{% endblock content %}